* {
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

/* Code for Firefox */
::-moz-selection {
    background: #f83e2c;
}

::selection {
    background: #f83e2c;
}

.rounded-tambak {
    border-radius: 20px;
}

/* FORM CONTROL FOCUS */
.form-control:focus {
    border-color: rgba(241, 93, 75, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(241, 93, 75, 0.5);
}

/* Login Page */
.background {
    background-image: url(/assets/img/background/bg.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}
.login_card {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    color: #fff;
    border-color: rgba(241, 93, 75, 0.75);
    box-shadow: 0 0 0 0.35rem rgba(241, 93, 75, 0.35);
}

/* Sidebar */
.bg-dark {
    background-color: #282828 !important;
}
.border-dark {
    border-color: #000000 !important;
}
.shadow-bottom {
    box-shadow: 0 4px 2px -1px rgba(28, 28, 28, 0.5);
}

/* Asset */
.btn-outline-vaname {
    border-color: rgba(241, 93, 75, 0.75);
    color: #f15d4b;
}

.btn-outline-vaname:hover {
    border-color: rgba(241, 93, 75, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(241, 93, 75, 0.25);
    background-color: #f15d4b;
    color: white;
}

.btn-vaname {
    border-color: rgba(241, 93, 75, 0.75);
    background-color: rgba(241, 93, 75, 1);
    color: #fff;
}

.btn-vaname:hover {
    border-color: rgba(241, 93, 75, 0.75);
    background-color: rgba(241, 93, 75, 0.75);
    color: #fff;
}

.link-vaname {
    color: #f15d4b;
}

.link-vaname:hover {
    color: #ef3833;
}

.bg-vaname {
    background-color: #f15d4b;
    color: #fff;
}

/* Pagination Color */
.pagination > li > a {
    background-color: white;
    color: #f15d4b;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #f15d4b;
    background-color: #fff;
    box-shadow: 0 0 0 0.2rem rgba(241, 93, 75, 0.5);
    border-color: rgba(241, 93, 75, 0.75);
}
.pagination > .active > a {
    color: white;
    background-color: #f15d4b !important;
    border: solid 1px rgba(241, 93, 75, 0.75) !important;
}

.pagination > .active > a:hover,
.pagination > .active > a:focus {
    background-color: #f15d4b !important;
    border: solid 1px rgba(241, 93, 75, 0.75);
    box-shadow: 0 0 0 0.2rem rgba(241, 93, 75, 0.5);
}

/* Sweetalert custom color */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
