* {
    scroll-behavior: smooth;
    font-family: "Figtree", sans-serif;
}

.rounded-tambak {
    border-radius: 20px;
}

input[type="date"] {
    content: "DD-MM-YYYY";
}

/* Login Page */
.background {
    background-image: url(/assets/img/background/bg.jpg);
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.login_card {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    color: #fff;
    /* border-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 0 0.35rem rgba(0, 0, 0, 0.35); */
}

/* Sweetalert custom color */
.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
